$light-bg: #ffffff;
$light-subbg: #e6e6e6;
$light-fg: #000000;
$light-magenta: #a626a4;
$light-blue: #4078f2;

$dark-bg: #181a1f;
$dark-subbg: #272b33;
$dark-fg: #c3cad8;
$dark-magenta: #c678dd;
$dark-blue: #61afef;

title { display: none }

body {
    background-color: $light-bg;
    color: $light-fg;
    font-family: sans-serif;
    margin: 0 auto;
    padding: 1rem;
    width: 100vw;
}

a:link {
    color: $light-blue;
}
a:visited {
    color: $light-magenta;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: inherit;

    dl {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-gap: .2rem 1rem;

        dt {
            font-size: 0.9rem;
            font-weight: 700;
        }
    }
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2rem;

    img {
        display: flex;
        margin: 0 0 1rem;
        border-radius: 5px;
    }
}


@media (prefers-color-scheme: dark) {
    body {
        background-color: $dark-bg;
        color: $dark-fg;
    }

    a:link {
        color: $dark-blue;
    }
    a:visited {
        color: $dark-magenta;
    }
}

@media (max-width: 600px) {
    main {
        flex-direction: column;
    }
}
