html, body {
    background-color: #fafafa;
    color: #4b4c54;
}

@media (prefers-color-scheme: dark) {
    html, body {
        background-color: #181a1f;
        color: #abb2bf;
    }
}

html, body {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: 'Source Code Pro';
    font-weight: 500;
    height: 100%;
    justify-content: center;
    width: auto;
}

a:link, a:visited {
    color: #61afef;
}
