{{ partial "head.html" . }}
<main class="index">
    <section class="articles">
        <h1>{{ .Site.Title }}</h1>
        {{posts}}
    </section>
    <aside>
        <img src="./avatar.png" />
        <a href="https://ko-fi.com/raiguard">donate</a>
        <dl>
            <dt>email</dt>
            <dd><a href="mailto:ch@raiguard.me">ch@raiguard.me</a></dd>
            <dt>sourcehut</dt>
            <dd><a href="https://sr.ht/~raiguard">~raiguard</a></dd>
            <dt>factorio</dt>
            <dd><a href="https://mods.factorio.com/user/raiguard">raiguard</a></dd>
            <dt>youtube</dt>
            <dd><a href="https://www.youtube.com/channel/UCDuRZ6ha94mKiisTdXR-JYw">raiguard</a></dd>
            <dt>twitch</dt>
            <dd><a href="https://twitch.tv/raiguard">raiguard</a></dd>
        </dl>
        <small>I am a self-taught programmer who loves efficient and reliable software. Business inquiries may be directed to the email address above.</small>
    </aside>
</main>
